# 1. Jekyll build
_site/

# 2. Caches et bundler
.jekyll-cache/
.sass-cache/
.bundle/
vendor/bundle/

# 3. Node.js (si utilisé)
node_modules/

# 4. Fichiers de config et secrets
.env
credentials.yml
.rvmrc
.ruby-version
/*.key
/*.pem

# 5. Logs, temporaires
*.log
*.tmp
*.bak
*.swp

# 6. OS
.DS_Store
Thumbs.db

# 7. IDE
.idea/
.vscode/
*.iml
