/* Reset CSS Essentiel */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: #053f5f;
    height: 100%;
    font-family: sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit; /* Utilise la même police que le parent */
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit; /* Hérite de la couleur du parent */
}

ul, ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of the reset */
/* Header */
.header-container {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.logo-container h2 {
    color: #053f5f;
    font-size: 22px;
}
.logo-container h3 {
    color: #b8cfda;
    font-size: 16px;
}

/* Burger menu */
.menu {
    position: relative;
}
.burger-wave {
    width: 100%; /* Adapte la largeur au conteneur parent */
    height: 100%; /* Modifie la hauteur selon tes besoins */
}
.dropdown-menu {
    /*display:none;*/
    position: absolute;
    top: 110%;
    width: 20rem;
    background-color: #ffffff;
    height: 27rem;
    right: 0;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    /* Effet au clic */
    visibility: hidden; /* Masqué par défaut */
    opacity: 0; /* Opacité initiale */
    transform: translateY(-10px); /* Déplacement vers le haut */
    transition: visibility 0s linear 0.3s, opacity 0.3s ease, transform 0.3s ease; /* Transition fluide */
    z-index: 5;
    display: flex;
    flex-direction: column;
}
.dropdown-menu.active {
    visibility: visible; /* Rendre visible */
    opacity: 1; /* Rendre visible */
    transform: translateY(0); /* Réinitialiser la position */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transition fluide sans délai */
}
.dropdown-nav {
    flex: 1;
    padding: 1rem 1rem 1rem 0;
    background-color: #fff;
    ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        li a {
            padding-left: 20px;
            font-size: 17px;
            font-weight: 700;

        }
    }
}
.dropdown-buttons-container {
    padding: 1rem;
    background-color: #f6f4f3;
    a {
        img {
            width: 15px;
            height: 15px;
        }
        display: flex;
        font-size: 14px;
        font-weight: 700;
        gap: 12px;
        align-items: center;
        border-radius: 5px;
        padding: 0.8rem;
        background-color: #ffec2d;
    }
}
.burger-wave-container {
    width: 33%;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}
.burger-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffec2d;
    padding: 0.7rem;
    border-radius: 50%;
}
.burger-menu {
    cursor: pointer;
    display: inline-block;
}

.burger-menu > svg {
    /*transform: translateY(0);*/
    transition: all 0.5s ease; /* Transition pour l'animation */

    /* Sélecteur pour les rectangles dans le SVG */
    [class^="rect"] {
        transition: all 0.5s ease; /* Transition pour chaque rectangle */
        transform-origin: 50% 50%; /* Origine de transformation au centre */
        opacity: 1; /* Opacité par défaut */
    }

    width: auto;
    overflow: visible !important; /* Forcer le débordement visible */
}

.burger-menu.active > svg {
    transform: translateX(-30%); /* Ajuste cette valeur si nécessaire */

    /* Appliquer les transformations aux rectangles */
    [class^="rect"] {
        transform: translateY(0) rotate(0); /* Réinitialiser les transformations */
    }

    .rect1 {
        transform: translate(-2%, 30%) rotate(45deg); /* Ligne du haut devient diagonale */
    }

    .rect0 {
        opacity: 0; /* Disparition de la ligne du milieu */
        transform: translateY(10%); /* Déplacement vers le haut pour masquer */
    }

    .rect2 {
        transform: translate(2%, -27%) rotate(-45deg); /* Ligne du bas devient diagonale */
    }
}


/* MAIN */
.purple-warning {
    text-align: center;
    margin: 2rem 1rem;
    line-height: 1.6;
    background-color: #faedfc;
    padding: 1rem 2rem;
    border-radius: 9999px;
}

/* Presentation */

.presentation-container {
    background-color: #EDF3F6;
    h1 {
        font-size: 28px;
        padding: 35px 0 0 10px;
        font-weight: 800;
    }
    .portrait {
        margin: 20px 0;
        width: 70%;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    p {
        padding: 20px 20px 30px 10px;
        text-align: justify;
    }
}
/* Take appointment */
.take-appointment {
    display: flex;
    flex-direction: column;
    text-align: center;
    h2 {
        font-size: 28px;
        padding: 35px 10px;
        font-weight: 800;
    }
    p {
        padding: 0 20px 0 10px;
    }
}
.phone-illustration-container {
    position: relative;
    width: 100%; /* Prend toute la largeur disponible */
    max-width: 400px; /* Limite la largeur pour les grands écrans */
    height: 300px; /* Ajustez cette valeur selon vos besoins */
    margin: 0 auto 30px auto; /* Centre la div dans son conteneur */
    overflow: hidden; /* Masque les débordements */
}

.phone-illustration-blob {
    position: absolute;
    top: 0; /* Colle le blob en haut */
    left: 0; /* Colle le blob à gauche */
    width: 95%; /* S'assure que le blob prend toute la largeur */
    height: 100%; /* S'assure que le blob prend toute la hauteur */
    z-index: 1; /* Met le blob en arrière-plan */
}

.phone-illustration-container img {
    position: absolute; /* Utilise la position absolue pour superposer l'image */
    top: 55%; /* Positionne l'image au milieu verticalement */
    left: 50%; /* Positionne l'image au milieu horizontalement */
    transform: translate(-50%, -50%); /* Centre l'image par rapport à son propre centre */
    width: 38%; /* Ajustez cette valeur pour la taille de l'image */
    height: auto; /* Conserve les proportions */
    border-radius: 20px; /* Pour arrondir les coins de l'image */
    z-index: 2; /* S'assure que l'image est au-dessus du blob */
}

.take-appointment-button {
        img {
            width: 15px;
            height: 15px;
        }
        display: flex;
        font-size: 14px;
        font-weight: 700;
        gap: 12px;
        align-items: center;
        border-radius: 5px;
        padding: 0.8rem;
        background-color: #ffec2d;
        width: fit-content;
        margin: auto;
}

/* FOOTER */
.disable-bold {
    font-weight: normal;
}
.footer-title {
    width: fit-content;
    border-bottom: 3px solid  #ffec2d;
    color: #a4bbc6;
    margin: 20px 0;
}
.footer-container {
    padding: 20px;
    background-color: #002748;
    color: #ffffff;
}
.planning {
    display: flex;
    justify-content: space-between;
}
.hourly-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.map-container {
    width: 80%;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    margin: 50px auto 0 auto;
    iframe {
        width: 100%;
        height: 100%;
    }
}

/* LAST FOOTER */
.last-footer-container {
    background-color: #b8cfda;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10%;
}

.last-footer-container a {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

.last-footer-container a::after {
    content: '';
    position: absolute;
    bottom: -3px; /* Positionne la ligne en bas du texte */
    left: 0;
    width: 0;
    height: 3px; /* Épaisseur de la ligne */
    background-color: #ffec2d;
    transition: width 0.3s ease; /* Ajuste la durée pour contrôler la vitesse de l'effet */
}

.last-footer-container a:hover::after {
    width: 100%; /* La ligne s'étend sur toute la largeur au survol */
}

