/* Psychoanalysis Page */

.psychoanalysis-freud-container {
	background-color: #EDF3F6;
}

.freud-container {
	display: flex;
}

.freud-illustration-container {
	width: 60%;
	margin: 50px auto;
}

.freud-illustration {
	width: 100%;
	border-radius: 5px;
}

.freud-container p {
	width: 45%;
	padding: 0 20px;
}

.psychoanalysis-illustration {
	width: 50%;
	margin: auto;
}

.freud-illustration-container span {
	font-size: 14px;
	font-style: italic;
	text-align: center;
	width: 100%;
	display: inline-block;
}

.psychoanalysis-list {
	list-style: inside;
	margin: 30px 10px;
}

.psychoanalysis-list li {
	margin-bottom: 10px;
}

@media (min-width: 640px) {
	.freud-illustration-container {
		width: 40%;
	}

	.psychoanalysis-illustration {
		width: 35%;
	}
}

@media (min-width: 1291px) {
	.psychoanalysis-illustration {
		width: 27%;
	}

	.freud-container {
		position: relative;
	}

	.freud-container .freud-illustration-container {
		width: 30%;
		margin: auto;
		border-radius: 10px;
	}
}
