<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}"/>
</head>
<body>
{% include header.html %}
<main>
  {{ content }}
</main>
{% include footer.html %}
<div class="burger-wave-container">
  <img class="svg-wave burger-wave" alt="wave" src="{{ '/assets/images/waves/burger-wave.svg' | relative_url }}" />
</div>
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>
</body>
</html>
