<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="{{ page.url | absolute_url }}">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}"/>
    <link rel="icon" type="image/png" href="{{ '/assets/images/psychology.svg' | relative_url }}">
</head>
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "MedicalBusiness",
        "name": "Cécile Vathonne – Psychothérapeute",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "33 Rue Jean‑Baptiste Pigalle",
            "addressLocality": "Paris",
            "postalCode": "75009",
            "addressCountry": "FR"
        },
        "telephone": "07 62 80 25 77",
        "url": "https://www.cecilevathonne.fr",
        "openingHoursSpecification": [
            {
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": [
                    "Monday",
                    "Tuesday"
                ],
                "opens": "08:00",
                "closes": "18:00"
            }
        ]
    }
</script>

<body>
<div class="background-image"></div>
{% include header.html %}
<main>
    {{ content }}
</main>
{% include footer.html %}
<!--<div class="burger-wave-container">-->
<!--    <img class="svg-wave burger-wave" alt="wave" src="{{ '/assets/images/waves/burger-wave.svg' | relative_url }}"/>-->
<!--</div>-->
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>
</body>
</html>
